body {
  margin: auto;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #00559B !important;  
}
.header {
  margin-top: 1rem;
  background-color: white;
  height: fit-content;
  overflow: visible;
}

.header .logo {
  max-width: 91px;
  max-height: 42px;
}

.header .logo-text {
  font-size: 24px;
  color: #003064;
  margin-top: 4px;
}

.header .logo__bug {
  width: 200px;
  height: 20px;
  position: relative;
  top: 8px;
  z-index: 20;
  background-image: url(../img/HHSP_Bug.svg);
  background-size: 270px 20px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.header .languageselect {
  margin-top: 0.5em;
  float: right;
  text-align: right !important;
}

.container {
  /*  margin-left: 0rem !important;
  margin-right: 0rem !important;
  max-width: 1140px !important;*/
}

.cursor-default {
  cursor: default !important;
}

#navbarNav {
  overflow: visible;
}

.bg-lbv-blue {
  background-color: #003064 !important;
}

.active a {
  font-weight: bold !important;
}

.maxpagewidth {
  max-width: 1600px;
}

.bg-lightyellow{
  background-color: #FFF0C9;
}

.bg-lightgrey{
  background-color: rgb(227, 227, 227) !important;
}

.mr-10 {
  margin-right: 10rem;
}

.mr-7 {
  margin-right: 7rem;
}

.right-1 {
  right: 1rem !important;
}

.mw-20 {
  max-width: 25rem;
}


.bottom-05 {
  position: absolute;
  bottom: 1.0em !important;
  right:0.0em !important;
  top: auto !important;
}

.top-05 {
  top: 0.5em;
  bottom: auto !important;
}

.width-10 {
  width: calc(100% - 9rem);
}

.kategorieboxtext {
  height: 8em;
  overflow: hidden;
  font-size: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.kategorieboxtext p, .kategorieboxtext li {
  font-size: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /*  height: 3rem;*/
  /*  line-height: 20px;*/
  background-color: #f5f5f5;
  text-decoration: underline;
  z-index: 1000;
}

footer img {
  height: 2rem;
}

footer a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #005ca9;
  font-family: Arial, Helvetica, sans-serif;
}

.centercontent {
  display: flex;
}

.limit-width {
  max-width: 1140px;
}

.limit-narrow-width {
  max-width: 750px;
}

.nobreak {
  white-space: nowrap;
}

.help {
  background-color: white;
  position: fixed;
  display: none;
  border-color: black;
  border-width: 1px;
  border-radius: 1em;
  border-style: solid;
  max-width: 500px;
  min-width: 200px;
  padding: 2em;
  margin-top: 10em;
  margin-left: 2em;
}
.helpclose {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  color: #000;
  opacity: 1.0 !important;
}

.help_icon {
  cursor: pointer;
  height: 1rem !important;
}
.helpdialog {
  max-width: 40em !important;
  min-width: 10em !important;
}
.helpcontent {
  border-color: black !important;
  border-width: 1px !important;
  border-radius: 0.3em !important;
  border-style: solid !important;
}

.fontcolor_darkblue {
  color: #102F60 !important;
}

.fontcolor_blue {
  color: #002D57 !important;
}

.fontcolor_lightblue {
  color: #00559B !important;
}

.bluetext,
.bluetext a {
  color: #00559b !important;
}

.redtext,
.redtext a,
.redtext a:hover {
  color: #d02E26 !important;
  text-decoration: none;
}

.greentext,
.greentext a,
.greentext a:hover {
  color: #019722 !important;
  text-decoration: none;
}


.blacktext,
.blacktext a,
.blacktext a:hover {
  color: black !important;
  text-decoration: none;
}

.mb-6 {
  margin-bottom: 5rem !important;
}

.clear-both {
  clear: both;
}

.cursor-pointer {
  cursor: pointer;
}

.onlineinfobox {
  height: 15rem;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.kategoriebox {
  height: 15rem;
}

.clickable-div {
  background-color: #efefef;
  border-radius: 0.1em;
}
.stornotermin {
  background-color: lightcoral;
}

.clickable-div:hover {
  background-color: #efefef;
}

.hoverable:hover {
  text-decoration: underline;
}

#openclose,
.openclose {
  font-size: 2rem !important;
  line-height: 0.5rem !important;
}

.border-inset {
  border-style: inset;
  padding: 0em 1em;
}

.question {
  font-weight: bold;
  margin-top: 1em;
  font-size: larger;
}

.answer {
  margin-top: 0.3em;
  font-size: larger;
}

.card-body img {
  height: 2rem;
  margin-bottom: -0.5rem;
  margin-top: -1rem;
}

#mapid {
  width: 100%;
  height: 100%;
  min-width: 25rem;
  min-height: 20rem;
}

.whiteborder {
  border: 3px solid white;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.smaller {
  font-size: smaller;
}

.min-width-70percent {
  min-width: 70%;
}

.min-width-30rem {
  min-width: 30rem;
}

.max-width-5rem {
  max-width: 5rem;
}

.max-width-4rem {
  max-width: 4rem;
}

.unsetbottom {
  bottom: unset !important;
}

/********** LBV styles ***********/

.LBV-list ul {
  list-style: none;
  margin: 0.75em 0;
  padding: 0 1em;
}

.LBV-list li:before {
  content: "";
  border-color: transparent #f00;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  left: -1em;
  position: relative;
  top: 0.9em;
  width: 0;
}

.LBVBox-maxheight {
  max-height: 20em;
  overflow: auto;
}

.LBVBox-minwidth {
  min-width: 3.6rem;
  background-color: white;
  border-radius: 0.4rem;
  padding: 0.1rem 0.4rem;
  margin: 0.2rem 0.4em;
}

.LBV {
  display: contents;
}

.LBV-font, .LBV-font p, .LBV-font span, .LBV-font li  {
  font-size: 0.9rem;
  font-weight: 400;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
.LBV-font h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  padding-top: 0.5em;
  color: #00559b !important;
  font-family: Arial, Helvetica, sans-serif;
}
.LBV-font h2 {
  font-size: 1.3rem;
  font-weight: 650;
  line-height: 1.15;
  padding-top: 0.5em;
  color: #00559b !important;
  font-family: Arial, Helvetica, sans-serif;
}
.LBV-font h3 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.05;
  padding-top: 0.5em;
  color: #00559b !important;
  font-family: Arial, Helvetica, sans-serif;
}
.LBV-font h4 {
  font-size: 1.0rem;
  font-weight: 500;
  line-height: 1;
  padding-top: 0.5em;
  color: #00559b !important;
  font-family: Arial, Helvetica, sans-serif;
}


.LBV-footer-button {
  margin-top: 0.4em;
  border-width: medium;
  padding: 0.1em;
}
.LBV-footer-right {
  right: 0em;
  position: absolute;
}

.LBV-start-button {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9) !important;
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
  background-color: #003064 !important;
}

.LBV-mainheadline {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  padding-top: 0.5em;
  color: #003064;
  font-family: Arial, Helvetica, sans-serif;
}

.LBV-groupheadline {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ededed;
}

.LBV-dlgruppe {
  font-size: 1.2rem !important;  
  font-weight: 700;
/*  line-height: 1.2;*/
  color: #005ca9;
  font-family: Arial, Helvetica, sans-serif;
}

.LBV-dlgruppentext {
  font-size: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
/*  line-height: 1.5;*/
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 0.5rem;
}

.LBV-dlbox{
  background-color: #edededdc;
  padding: 1em 0em;
  margin: 1em 0em;
  position: relative;
  
}
.LBV-weiterbutton {
  font-size: 1rem !important;
  /*  font-weight: 700 !important;*/
  line-height: 1.4 !important;
  color: #fff !important;
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: #d02E26 !important;
}

form.LBV .LBV-weiterbutton {
  margin-left: 6rem;
}

.LBV-weiterbutton:disabled {
  opacity: 30% !important;
}

.LBV-choosebutton {
  font-size: 1rem !important;
  /*  font-weight: 700 !important;*/
  line-height: 1.4 !important;
  color: #fff !important;
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: #d02E26 !important;
  right: 1.0em;
  /*position: absolute;*/
  bottom: 1.0em;
  margin-right: 1em;
  margin-top:0.7em;
  float:right;
}

.LBV-onlineservicebutton {
  font-size: 1rem !important;  
  line-height: 1.4 !important;  
  font-family: Arial, Helvetica, sans-serif !important;
  border-color:  #d02E26 !important;
  color:  #d02E26 !important;
  padding: 0.5em 3em !important;
  font-weight: bold !important;
  margin-top: 1em;
}

.LBV-subheadline {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  color: #003064;
  font-family: Arial, Helvetica, sans-serif;
}

.LBV-onlinebutton {
  width: 17.5rem;
}

.LBV-btn {
  margin-left: -11rem;
}

.LBV-backbutton {
  /*background-color: #dad6d6 !important;*/
  color: #005ca9 !important;
  border-color: #005ca9 !important;
  border-style: solid;
  border-width: 1px;
}

.LBV-aboutme{
  background-color: #ededed;
}

.LBV_pot {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.LBV-alert {
  border-color: red !important;
  border-style: solid !important;
  border-width: 0.2em !important;
  background-color: white;
  color: red !important;
  max-width: 30em;  
  min-height: 6em;
  font-weight: bold;
  font-size: large;
}

.LBV-success {
  border-color:  #019722 !important;
  border-style: solid !important;
  border-width: 0.2em !important;
  background-color: white;
  max-width: 40em;  
  min-height: 6em;
  font-weight: bold;
  font-size: large;
}

.LBV-Link {
  color: #005ca9 !important;
  text-decoration: underline;
}

.LBV-breadcrump{
  font-size: larger;
  font-weight: bold;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#frontendmodal {}

#umfrage {}

#surveyreminder {
  /* background: linear-gradient(124deg, #ff2400, #e81d1d, blue, #e3e81d, #1de840, #1ddde8, red, #dd00f3, #dd00f3); */
  background: linear-gradient(124deg, #ff2400, #e81d1d, blue, #adaf19, #178b2b, #178288, red, #522e55, #dd00f3);
  color: white;
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}


/* calendar */

.calendar {
  /*margin-top: 20px;*/
 }
 
 .month {
  text-align: center;  
  margin-bottom: 0.5rem;
  width: 19em;
 }
 
 #calendarTable {
  width: 100%;
  margin-bottom: 0.2rem;
 }
 
 #calendarTable td {
/*  height: 50px;*/
  vertical-align: middle;
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
  color: rgb(207, 207, 207);
  border-style: solid;
  border-width: 4px;
   border-color: rgb(227, 227, 227);
 }
 
 .selected {
  background-color: #007bff !important;
  color: white !important;
 }
 
 .datumbuchbar {
  color: #1F69A6 !important;
 }

 .btn-calendar {
  background-color: white !important;
  border-radius: 1.5rem !important;
  color: red !important;
  font-weight: bold !important;
  font-size: large !important;
  margin: 0rem 1rem !important;
 }

 .calendartitle{
/*  background-color: white !important;*/
  padding: 0.5rem 0.5rem;
  font-weight: bold;
 }

 .no-opacity {
  opacity: 1.0 !important;
 }

.fs-16pt {
  font-size: 16pt !important;
}

.fs-18pt {
  font-size: 18pt !important;
}

.fs-20pt {
  font-size: 20pt !important;
}

.fs-24pt {
  font-size: 24pt !important;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
}


